:root {
	/* TEXT VARIABLES */
	--text-dark: #000;
	--text-light: #fff;
	--text-grey: #adbdcc;
	--body-font: "Karla", sans-serif;
	--heading-font: "DM Serif Display", serif;
	--h1-size: 70px;
	--h1-height: 4rem;
	--h2-size: 60px;
	--h2-height: 3.5rem;
	--h3-size: 20px;
	--h4-size: 32px;
	--h5-size: 28px;
	--h6-size: 22px;
	--subtitle-size: 17px;
	--subtitle-height: 26px;
	--p-size: 18px;
	--p-height: 26px;
	--secondary-text-size: 14px;
	--secondary-text-height: 18px;
	--button-size: 16px;

	/* SPACING VARIABLES */
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 64px;
	--standard-width: 1440px;
	--section-width: 1144px;

	/*Primary*/
	--dark-violet: hsl(256, 26%, 20%);
	--greyish-blue: hsl(216, 30%, 68%);
	/*Neutral*/
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-greyish-violet: hsl(273, 4%, 51%);
	--very-light-grey: hsl(0, 0%, 98%);
	/*white*/
	--white: #fff;
}

/* Layout Styles  */
.section-container {
	width: 100%;
	max-width: var(--section-width);
}

.two-column {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
}

.two-column > .col-left {
	width: 55%;
	box-sizing: border-box;
	padding: 0 var(--spacing-md) 0 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.two-column > .col-right {
	width: 45%;
	box-sizing: border-box;
	padding: 0 0 0 var(--spacing-md);
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
	height: 50px;
	margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
	font-family: var(--heading-font);
	font-weight: 500;
	font-size: var(--h6-size);
	margin: 0;
	width: 100%;
}

h1 {
	font-family: var(--heading-font);
	font-weight: 400;
	font-size: var(--h1-size);
	margin: var(--spacing-md) 0;
	width: 100%;
	letter-spacing: 2px;
	line-height: var(--h1-height);
}

h2 {
	font-family: var(--heading-font);
	font-weight: 400;
	font-size: var(--h2-size);
	margin: 0;
	width: 100%;
	letter-spacing: 1px;
}

h3 {
	font-family: var(--heading-font);
	font-weight: 500;
	font-size: var(--h3-size);
	margin: 0;
	width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: lightgray;
	font-family: Karla, sans-serif;
	font-size: var(--p-size);
	height: 100vh;
	/* overflow-x: hidden; */
	margin: 0 auto;
	max-width: var(--standard-width);
}

main {
	width: 100%;
}

/* BUTTON STYLES */
.primary-button {
	font-family: var(--body-font);
	font-size: var(--button-size);
	letter-spacing: 1.25px;
	font-weight: bold;
	border: 1px solid var(--white);
	text-transform: uppercase;
	background-color: var(--primary-accent);
	color: var(--white);
	padding: var(--spacing-sm) var(--spacing-md);
	transition: all 0.15s ease;
}

.primary-button:hover {
	background-color: var(--white);
	color: var(--dark-violet);
	cursor: pointer;
}

/* NAVBAR */
.navbar {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--standard-width);
	padding: var(--spacing-lg) calc(var(--spacing-xl) * 2.25);
}

.menu {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: var(--dark-greyish-violet);
	margin: 0 var(--spacing-md);
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.menu a:hover {
	text-decoration: underline;
}

.navbar-button {
	background: rgba(250, 250, 250, 0.25);
	border: 1px solid var(--very-dark-violet);
	margin: 0 0 0 var(--spacing-md);
	color: var(--text-dark);
}

.navbar-button:hover {
	background: var(--dark-violet);
	color: var(--white);
}

/* HERO STYLES */
.hero-section {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	color: var(--white);
	padding: var(--spacing-xl) 0;
}

.hero-section h1 {
	width: 550px;
}

.hero-section .dt-left-img {
	position: absolute;
	top: 400px;
	left: 0px;
	width: auto;
	height: 65%;
	display: block;
	z-index: 1;
}

.hero-section .col-right .box {
	position: absolute;
	width: 30%;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 10;
	background-image: url("images/bg-pattern-intro-right-desktop.svg");
	background-repeat: no-repeat;
	background-position-y: -75px;
	background-size: 100%;
}

.hero-section .dt-right-img {
	position: absolute;
	top: 0px;
	right: 0px;
	width: auto;
	height: 83%;
	display: block;
	z-index: 1;
}

.hero-section::before {
	content: "";
	width: 100%;
	height: 600px;
	background-color: var(--dark-violet);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
}

.hero-section .desktop-top-line {
	width: 180px;
	margin: var(--spacing-lg) 0 var(--spacing-lg) 0;
}

.hero-section p {
	max-width: 600px;
	margin: 0 0 var(--spacing-lg) 0;
}

.hero-section .hero-btn {
	color: var(--white);
}

.hero-section .hero-people-container {
	/* height: 564px; */
	align-items: flex-end;
	margin: var(--spacing-lg) 0 0 0;
	z-index: 1;
}

.hero-section .hero-people {
	height: 628px;
}

/* WE'RE DIFFERENT SECTION */
.we-different-section {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: var(--spacing-xl) 0;
	background-color: var(--white);
	position: relative;
}

.we-different-section::before {
	content: "";
	width: 100%;
	height: 1000px;
	background-color: var(--white);
	position: absolute;
	top: -200px;
	left: 0;
	z-index: -1;
}

.we-different-section h2 {
	margin: 0 0 var(--spacing-xl) 0;
}

.we-different-section .desktop-line-two {
	width: 145px;
	margin: 0 0 var(--spacing-lg) 0;
}

.we-different-section .card-container {
	display: flex;
	margin: var(--spacing-lg) 0;
}

.we-different-section .card-container .card {
	width: 33%;
	padding: 0 var(--spacing-sm) 0 0;
	margin: 0 var(--spacing-md) 0 0;
	box-sizing: border-box;
}

.we-different-section .card-container .card .why-icon {
	margin: 0 0 var(--spacing-lg) 0;
}

.we-different-section .secondary-text {
	color: var(--text-dark);
}

/* ABOUT SECTION */
.about-section {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: var(--spacing-xl) 0;
	background-color: var(--white);
}

.about-section h2 {
	line-height: var(--h2-height);
	font-weight: 400;
}

.about .col-left {
	width: 52%;
	padding: var(--spacing-xl) 0 var(--spacing-xl) var(--spacing-xl);
}

.about .col-right {
	width: 40%;
	align-items: center;
	padding-left: calc(var(--spacing-xl) * 3);
}

.about {
	background-color: var(--dark-violet);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url("images/bg-pattern-how-we-work-desktop.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 45%;
}

.about-button {
	color: #fff;
	background: none;
	font-size: var(--button-size);
	text-transform: uppercase;
	padding: var(--spacing-sm) var(--spacing-lg);
	border: 1px solid #fff;
}
/* FOOTER SECTION */
.footer-section {
	background-color: var(--very-light-grey);
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	color: var(--white);
	padding: var(--spacing-xl) 0;
}

.desktop-line-three {
	margin-bottom: 20px;
}

.footer-container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 40px;
	height: 300px;
}

.footer-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-nav-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	text-decoration: none;
	gap: 10px;
	margin-bottom: 20px;
}

.social i {
	font-size: 15px;
	color: var(--dark-greyish-violet);
}

.social i:hover {
	cursor: pointer;
	color: var(--dark-violet);
}

.footer-sub {
	margin-bottom: 15px;
	color: var(--very-dark-violet);
	list-style-type: none;
	text-decoration: none;
}

.footer-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.footer-bottom {
	width: 85%;
}

.footer-bottom li {
	list-style-type: none;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 2;
	color: var(--very-dark-violet);
}

/* CUSTOM BREAKPOINTS */
